<h1 class="text-right">Badges</h1>
<pre><code class="language-markup">  &lt;span class="badge badge--primary">Primary&lt;/span>
    &lt;span class="badge badge--secondry">Secondry&lt;/span>
    &lt;span class="badge badge--success">Success&lt;/span>
    &lt;span class="badge badge--danger">Danger&lt;/span>
    &lt;span class="badge badge--warning">Warning&lt;/span>
    &lt;span class="badge badge--info">Info&lt;/span>
</code></pre>
<div style="font-size: 18px">
  <span class="badge badge--primary">Primary</span>
  <span class="badge badge--secondry">Secondry</span>
  <span class="badge badge--success">Success</span>
  <span class="badge badge--danger">Danger</span>
  <span class="badge badge--warning">Warning</span>
  <span class="badge badge--info">Info</span>
</div>
<hr class="mt-large mb-large">
<h2>Badge inside button</h2>
<button class="btn btn--primary">Notifications <span class="badge badge--light">4</span></button>
<hr class="mt-large mb-large">
<h1>Heading with badge <span class="badge badge--primary">New</span></h1>
<h2>Heading with badge <span class="badge badge--secondry">New</span></h2>
<h3>Heading with badge <span class="badge badge--danger">New</span></h3>
<h4>Heading with badge <span class="badge badge--success">New</span></h4>
<h5>Heading with badge <span class="badge badge--warning">New</span></h5>
<h6>Heading with badge <span class="badge badge--info">New</span></h6>
<hr class="mt-large mb-large">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis expedita incidunt perferendis illum a earum assumenda magni deleniti ea quae ab quas, nesciunt nulla quia, similique <span class="badge badge--warning">necessitatibus</span> at voluptatem fugiat? ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in <span class="badge badge--danger">reprehenderit</span> in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>