.alert {
  position: relative;
  display: block;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: .3rem;
  border: 1px solid transparent;
  margin-bottom: 1rem;

  $alert-bg-opacity: 45%;
  
  &--primary {
    color: darken($primary, 10%);
    background: lighten($primary, $alert-bg-opacity);
    border-color: $primary;
  }

  &--secondary {
    color: darken($secondary, 10%);
    background: lighten($secondary, $alert-bg-opacity);
    border-color: $secondary;
  }

  &--success {
    color: darken($success, 10%);
    background: lighten($success, $alert-bg-opacity);
    border-color: $success;
  }

  &--info {
    color: darken($info, 10%);
    background: lighten($info, $alert-bg-opacity);
    border-color: $info;
  }

  &--warning {
    color: darken($warning, 10%);
    background: lighten($warning, $alert-bg-opacity);
    border-color: $warning;
  }

  &--danger {
    color: darken($danger, 10%);
    background: lighten($danger, $alert-bg-opacity);
    border-color: $danger;
  }

  &--dismissible {
    padding-right: 5rem;
  }

  &-close {
    position: absolute;
    top: 0;
    right: 0;
    
    padding: 1rem 1.8rem;
    border: none;
    background: transparent;
    font-size: 2rem;
    font-weight: bold;
    opacity: .5;
    cursor: pointer;

    &:hover, &:focus {
      opacity: 1;
    }
  }

  &--hidden {
    display: none;
  }

}