// Page specific variables

$bg-dark-base: 10%;

.btn {
  
  & {
    position: relative;
    display: inline-block;
    font-family: inherit;
    font-size: 1.6em;
    padding: .8rem 1.5em;
    border-radius: .5rem;

    text-decoration: none;
    margin-bottom: $vertical-rhythm-base;
    border: none;

  }

  &--primary {
    color: $white;
    background-color: $primary;

    &:hover, &:focus {
      background-color: darken($primary, $bg-dark-base);      
    }
  }

  &--secondary {
    color: $white;
    background-color: $secondary;

    &:hover, &:focus {
      background-color: darken($secondary, $bg-dark-base);      
    }
  }

  &--success {
    color: $white;
    background-color: $success;
    border-color: $success;

    &:hover, &:focus {
      background-color: darken($success, $bg-dark-base);      
    }
  }

  &--danger {
    color: $white;
    background-color: $danger;
    border-color: $danger;

    &:hover, &:focus {
      background-color: darken($danger, $bg-dark-base);      
    }
  }

  &--warning {
    color: $black;
    background-color: $warning;
    border-color: $warning;

    &:hover, &:focus {
      background-color: darken($warning, $bg-dark-base);      
    }
  }

  &--info {
    color: $white;
    background-color: $info;
    border-color: $info;

    &:hover, &:focus {
      background-color: darken($info, $bg-dark-base);      
    }
  }
}