// Page specific variables

$bg-hover-base: 10%;
$bg-active-base: 13%;
$bg-focus-opacity: .4;

.btn {
  
  & {
    position: relative;
    display: inline-block;
    font-family: inherit;
    font-size: 1.6em;
    padding: .8rem 1.5em;
    border-radius: .5rem;

    text-decoration: none;
    margin-bottom: $vertical-rhythm-base;
    border: none;
    outline: 0;
    cursor: pointer;

  }

  &:focus {
    transition: box-shadow .2s ease;
  }

  &--primary {
    color: $white;
    background-color: $primary;

    &:hover, &:focus {
      background-color: darken($primary, $bg-hover-base);
    }

    &:focus {
      box-shadow: 0 0 0 3px rgba($primary, $bg-focus-opacity);
    }

    &:active {
      background-color: darken($primary, $bg-active-base);
    }
  }

  &--secondary {
    color: $white;
    background-color: $secondary;

    &:hover, &:focus {
      background-color: darken($secondary, $bg-hover-base);
    }

    &:focus {
      box-shadow: 0 0 0 3px rgba($secondary, $bg-focus-opacity);
    }

    &:active {
      background-color: darken($secondary, $bg-active-base);
    }
  }

  &--success {
    color: $white;
    background-color: $success;
    border-color: $success;

    &:hover, &:focus {
      background-color: darken($success, $bg-hover-base);      
    }

    &:focus {
      box-shadow: 0 0 0 3px rgba($success, $bg-focus-opacity);
    }

    &:active {
      background-color: darken($success, $bg-active-base);
    }
  }

  &--danger {
    color: $white;
    background-color: $danger;
    border-color: $danger;

    &:hover, &:focus {
      background-color: darken($danger, $bg-hover-base);      
    }

    &:focus {
      box-shadow: 0 0 0 3px rgba($danger, $bg-focus-opacity);
    }

    &:active {
      background-color: darken($danger, $bg-active-base);
    }
  }

  &--warning {
    color: $black;
    background-color: $warning;
    border-color: $warning;

    &:hover, &:focus {
      background-color: darken($warning, $bg-hover-base);      
    }

    &:focus {
      box-shadow: 0 0 0 3px rgba($warning, $bg-focus-opacity);
    }

    &:active {
      background-color: darken($warning, $bg-active-base);
    }
  }

  &--info {
    color: $white;
    background-color: $info;
    border-color: $info;

    &:hover, &:focus {
      background-color: darken($info, $bg-hover-base);      
    }

    &:focus {
      box-shadow: 0 0 0 3px rgba($info, $bg-focus-opacity);
    }

    &:active {
      background-color: darken($info, $bg-active-base);
    }
  }
}