.card {
  
  $card-border-radius: .3rem;

  & {
    border-radius: $card-border-radius;
    background: $white;
  }

  &-body {
    padding: 1rem;
    border-bottom-left-radius: $card-border-radius;
    border-bottom-right-radius: $card-border-radius;
    border: 1px solid $grey;
  }

  img {
    display: block;
    width: 100%;
  }
}