.modal {

  & {
    // display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10002;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-20%);
    transition: all .3s ease;
  }

  &.is-visible {
    display: block;
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
  }

  &-inner {
    position: relative;
    display: block;
    width: 100%;
    border: 1px solid $lightgrey;
    border-radius: .3rem;
    background: $white;
    margin: 2rem auto;
    max-width: 500px;
  }

  &-body, &-header, &-footer {
    padding: 1rem;
  }

  &-header {
    position: relative;
    border-bottom: 1px solid $lightgrey;
  }

  &-footer {
    border-top: 1px solid $lightgrey;
  }

  &-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 5rem;
    border: none;
    cursor: pointer;
    background: transparent;

    font-size: 3rem;
    opacity: .5;

    &:hover, &:focus {
      opacity: 1;
    }
  }

  &-close-trigger {
    
  }

}

.js-modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10001;
  background: rgba($black, .4);
  transition: all .3s ease;
}