.navbar-left {
  
  $self: &;

  & {
    position: relative;
    width: 100%;
    // Hide overflow of navigation transform on mobile
    overflow-x: hidden;
    z-index: 10001;
  }
  
  // navbar logo and menu toggler button on mobie
  &__header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: $navbar-stripe-height; // 50px / 10
    border-bottom: 1px solid  map-get($theme-color, dark-900);
    background: #414550;
    padding: $neev-y-padding $neev-x-padding;
  }

  &__logo {
    display: block;
    max-width: 15rem;

    img {
      display: block;
      width: 100%;
    }
  }

  &__toggler {
    display: inline-block;
    width: 2.5rem;
    height: 2rem;
    background: transparent;
    border: 0;
    text-align: right;
    padding: 0;
    border-radius: $border-radius-base;
    cursor: pointer;

    &:hover, &:focus {
      outline: 0;
    }

    .fa-bars {
      font-size: 1.6em;
      color: whitesmoke;
    }
  }

  // menu

  &__menu {
    position: fixed;
    left: 0;
    top: $navbar-stripe-height;
    padding-bottom: $navbar-stripe-height * 2;
    width: 100%;
    max-width: 0;
    height: 100%;
    background: #414550;
    // transform: translateX(-100%);
    overflow-y: auto;

    @media (min-width: $lg) {
      max-width: 5.8rem;
    }

    &-link-text {
      display: none;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    // @include custom-scrollbar;
  }

  &__menu.open {
      max-width: 32.5rem;
      
    .navbar-left__menu-link-text {
      display: block;
    }
  }

  &__menu-item {

    & {
      position: relative;
      text-align: left;
      color: map-get($theme-color, dark-100);

      &:hover, &:focus {
        color: map-get($theme-color, dark-100);
      }
    }

    &.--has-dropdown {

      & {
        position: relative;
        border-left: 5px solid transparent;
      }

       &::before {
        font-family: FontAwesome;
        font-size: 1.5em;
       }

      &::before {
        content: "\f104";
        position: absolute;
        top: 1.9rem;
        right: 1rem;
        transform: translateY(-50%);

        font-size: 1rem;
        opacity: 0;
        transition: transform $transition-time-base ease-in-out;
      }
    }

    &.--has-dropdown.open {
      
      & {
        background: darken(#414550, 10%);
        border-color: $primary;
      }

      &::before {
        content: "\f107";
      }

      .sub-menu {
        display: block;
      }
    }
  }

  &__menu.open &__menu-item.--has-dropdown::before {
    opacity: 1;
  }

  &__menu-item-divider {
    display: none;
    padding: ($neev-y-padding / 2) $neev-x-padding;
    margin-top: $neev-x-padding * 1;
    text-transform: uppercase;
    font-weight: 700;
    color:  map-get($theme-color, dark-500);
    // border-bottom:  1px solid map-get($theme-color, dark-500);
  }

  &__menu.open &__menu-item-divider {
    display: block;
  }

  &__menu-link {
    display: flex;
    align-items: center;
    padding: ($neev-y-padding / 2) $neev-x-padding;
    text-decoration: none;
    font-size: 1.8rem;
    color: inherit;

    .fa {
      color: inherit;
      margin-right: 1rem;
    }

    &:hover, &:focus {
      background: $primary;
    }
  }

  &__menu.open {

    .navbar-left__menu-link {
      font-size: 1.4rem;
    }
  }
}

.sub-menu {
  display: none;
  transition: height .3s ease;

  &.show {

  }
}


.box {
  width: 100%;
  height: 100px;
  background: red;
}