.tab {

  & {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }

  &--vertical {
    flex-direction: column;
  }

  &-item {
    list-style: none;
    user-select: none;
  }

  &-btn {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: .5rem 2rem;
    white-space: nowrap;
  }

  &-btn.active {
    color: $white;
    background: $primary;
    border-radius: 3px;

    &:hover, &:focus {
      background: darken($primary, 10%);
    }
  }

  &-btn.disabled {
    outline: 0;
    color: map-get($theme-color, dark-400);
    cursor: default;

    &:hover, :focus {
      outline: 0;
    }
  }
  
  &-pane {
    display: none;
  }

  &-pane.show {
    display: block;
  }
}

/* Standard syntax */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
    animation: fadeIn 200ms linear;
}