/* ==========================================================================
   #SHARED
   ========================================================================== */

/**
 * Shared declarations for certain elements.
 */

/**
 * Always declare margins in the same direction:
 * csswizardry.com/2012/06/single-direction-margin-declarations
 */

 // address,
 // h1, h2, h3, h4, h5, h6,
 // blockquote, p, pre,
 // dl, ol, ul,
 // figure,
 // hr,
 // table,
 // fieldset {
 //   margin-bottom: $inuit-global-spacing-unit;
 // }
 
 
 
 /**
  * Consistent indentation for lists.
  */
 
 // dd, ol, ul {
 //   margin-left: $inuit-global-spacing-unit;
 // }

 * {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
 }

 body {
  padding-top: $navbar-stripe-height;
 }

.page-wrapper {
  padding: 3rem;
  padding-left: 3rem + 5.5rem;
  border: 1px solid red;

  @include media-down($lg) {
    padding: 3rem;
  }
}

[class*="display"] {
  font-weight: 500;
}