html {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base * 1px;
  line-height: $line-height-base;
  font-weight: $font-weight-base;
  color: map-get($theme-color, dark-800);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 { font-weight: 700; }

h1, .h1 { font-size: (38 / $font-size-base) + em}
h2, .h2 { font-size: (32 / $font-size-base) + em}
h3, .h3 { font-size: (28 / $font-size-base) + em}
h4, .h4 { font-size: (22 / $font-size-base) + em}
h5, .h5 { font-size: (18 / $font-size-base) + em}
h6, .h6 { font-size: (16 / $font-size-base) + em}

p { font-size: 1.6em; }