/**
 * ------------------------------------------------------------------------
 * #FONT
 * ------------------------------------------------------------------------
 */

$font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !default;
$font-family-monospace: "Lucida Console", monospace !default;

$font-size-base: 10 !default;
$line-height-base: 1.5 !default;
$font-weight-base: 400 !default;


/**
 * ------------------------------------------------------------------------
 * #COLOR
 * ------------------------------------------------------------------------
 */

$theme-color: (
  dark-900: #000000,
  dark-800: #1A1A1A,
  dark-700: #343434,
  dark-600: #4E4E4E,
  dark-500: #686868,
  dark-400: #828282,
  dark-300: #9C9C9C,
  dark-200: #B6B6B6,
  dark-100: #D0D0D0,
) !default;

$blue: #1991eb !default;
$green: #39b54a !default;
$yellow: #f7981c !default;
$lightblue: #01adff !default;
$red: #f85359 !default;

$dark-900: #37474e !default;
$dark-800: #607d8a !default;
$dark-700: #8fa4ad !default;
$dark-600: #cfd8dd !default;
$dark-500: #eceff1 !default;

$primary: $blue !default;
$success: $green !default;
$warning: $yellow !default;
$info: $lightblue !default;
$danger: $red !default;
$secondary: $dark-700 !default;
$black: #000 !default;
$white: #fff !default;
$grey: #6c757d !default;

$text-muted: map-get($theme-color, dark-600);


/**
 * ------------------------------------------------------------------------
 * #BORDER
 * ------------------------------------------------------------------------
 */

$border-radius-base: .3em;


/**
 * ------------------------------------------------------------------------
 * #SPACES
 * ------------------------------------------------------------------------
 */

$vertical-rhythm-small: .5rem;
$vertical-rhythm-base: 1rem;
$vertical-rhythm-large: 2rem;

/**
 * ------------------------------------------------------------------------
 * #NEEV
 * ------------------------------------------------------------------------
 */
$neev-gutter: 30px;
$neev-y-padding: $neev-gutter / 2;
$neev-x-padding: $neev-gutter / 2;

/**
 * ------------------------------------------------------------------------
 * #TRANSITION
 * ------------------------------------------------------------------------
 */
$transition-time-base: .35s;


/**
 * ------------------------------------------------------------------------
 * #NAVBAR
 * ------------------------------------------------------------------------
 */
$navbar-stripe-height: 5rem !default;


// Sizes for media queries
$xs: 420px !default;
$sm: 576px !default;
$md: 768px !default;
$lg: 992px !default;
$xl: 1200px !default;

// GRID
$grid-gutter: 30px;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;
